confluent-kafka==2.15.1
fastavro==1.12.2

apache-airflow==3.3.2
apache-airflow-providers-standard==1.19.0

python-dotenv==1.2.3
SQLAlchemy==2.1.1
psycopg2-binary==2.9.13
psycopg[binary]==3.3.6

pybreaker==1.4.1
tenacity==9.1.4

langchain==1.4.2
langchain-core==1.6.5
langchain-community==0.4.2
langchain-openai==0.3.35
langchain-postgres==0.0.18
pgvector==0.5.0
openai==2.54.0
